<% basename = 'document[elements_attributes]' %>

<%= form_for([:admin, @document]) do |f| %>
  <%= render :partial => "/refinery/admin/error_messages", :locals => {
          :object => @document,
          :include_object_name => true
        } unless @document.errors.empty? %>

  <section id='elements_editor' class='clearfix'>
  </section>

  <%= render :partial => "/refinery/admin/form_actions",
             :locals => {
               :f => f,
               :continue_editing => true,
               :delete_title => t('delete', :scope => 'refinery.admin.elements.document'),
               :delete_confirmation => t('message', :scope => 'refinery.admin.delete', :title => @document.title),
               :cancel_url => refinery.admin_elements_documents_path
             } %>
<% end %>

<%= render 'refinery/admin/elements/shared/javascript_libraries' %>

<% content_for :javascripts do %>
  <%= javascript_tag do %>

    $(function() {
      Elements.init(<%= @descriptors.to_json.html_safe %>);

      var editor = new Elements.ElementsEditor({ 
        el: $('#elements_editor'), 
        jsonData: <%= @document.elements.to_json.html_safe %>, 
        baseName: '<%= basename -%>',
        currentLocale: '<%= Refinery::I18n.current_locale %>',
        supportedLocales: <%= ::Refinery::I18n.frontend_locales.to_json.html_safe %>
      });

      Backbone.history.start();
    });
        window.data = <%= @document.elements.to_json.html_safe %>;

  <% end %>
<% end %>
